/* font-family: "HelveticaNeueCyr-Bold"; */
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadPro-Regular"; */
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.otf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadPro-Bold"; */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold.otf");
  font-style: normal;
  font-weight: normal; }
	
/* font-family: "MyriadPro-Italic"; */
@font-face {
  font-family: "MyriadPro-Italic";
  src: url("../fonts/MyriadPro-Italic.otf");
  font-style: normal;
  font-weight: normal; }
	
	/* font-family: "MyriadPro-Semibold"; */
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.otf");
  font-style: normal;
  font-weight: normal; }
